<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470699580989-h1vddjcbcpgbvio1bf5slk8se31qgvkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470699580989-h1vddjcbcpgbvio1bf5slk8se31qgvkk</string>
	<key>API_KEY</key>
	<string>AIzaSyAi2L-rnysMwBGu94IFXGdS4CO5g7s4rVU</string>
	<key>GCM_SENDER_ID</key>
	<string>470699580989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>test-app-istack</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-istack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470699580989:ios:4d67186111ca675e14d454</string>
</dict>
</plist>